h4 {
  display: none;
}

circle {
  cursor: pointer;
}


#chart {
  width: 100%;
}

.img-circle {
  width: 100%;
}

#user {
  display: flex;
}

aside {
  flex: 1;
  display: inline;
}

aside > h6 {
  text-align: center;
}

#issue-body{
  margin-left: 20%;
  width: 50%;;
  font-size: 80%;
  word-wrap: break-word;
}

.ui-autocomplete {
  background: white;
}

.ui-helper-hidden-accessible {
  display: none;
}
